/* {
    border: 1px solid red
}:*/

.datatime {

  color:black;
  margin-right: 10px;
  

}

#t3 {
  margin-right: 100px;
  
}

.container {
  display: flex;

}

.container a {
}

.none {
  magin:100px;
}

#google {
  margin-top:100px;
}

.site-header {
  background:#fff; /背景を白色に/
    box-shadow:0 2px 8px rgba(30,30,80,.3); /影。不要なら削除/
    left:0;
    line-height:1;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    text-align:center;
    padding:1rem;
}
